@import url('https://fonts.googleapis.com/css?family=Nunito');

.btn,
.jumbotron,
.nav :hover {
	border-radius: 0px;
}
/* html {
	overflow-x: hidden;
} */
body {
	/* background: #343a40; */
	background: #f8f9fa;
	font-family: 'Nunito', sans-serif;
	/* position: relative;
	overflow-x: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; */
}

footer {
	position: fixed;
	bottom: 0;
	right: 0px;
	left: 0px;
}

.loading {
	/* text-align: center; */
	/* font: 300 4em/150% Impact; */
}

.loading:after {
	content: ' .';
	animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: black;
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
	}
}

.productName {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: bold;
	padding-top: 2rem;
}

.productCard {
	border-radius: 15;
	height: '320px';
	width: '210px';
	background-color: '#AAE4FF';
}

.header {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 7;
	padding: 0px 3rem;
	background: rgb(255, 255, 255);
	height: 75px;
	flex-direction: row;
}

.profile-thing {
	position: relative;
}
.profile-thing :hover .profile-menu {
	display: block;
	color: aqua;
}

.profile-menu {
	display: none;
	position: absolute;
}

/* Dropdown Button */
.dropbtn {
	background-color: #ffffff;
	border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.dropdown-content a:hover {
	background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #ffffff;
	border-radius: 1em;
}

.header ul {
	list-style-type: none;
}

.cart:hover {
	color: '#ffffff';
}

.header input:focus {
	outline: none;
}

.header Button:focus {
	outline: none;
}

.add-to-cart {
	height: 45px;
	width: 200px;
	border-radius: 10px;
	color: #381738;
	background-color: white;
	font-size: 18px;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	outline: none;
	border: 0.5px solid #381738;
}

.add-to-cart:hover {
	background-color: purple;
	color: white;
}

.add-to-cart:focus {
	outline: none;
}
.delete-from-cart {
	height: 45px;
	width: 200px;
	border-radius: 10px;
	color: #e71c23;
	background-color: transparent;
	font-size: 18px;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	outline: none;
	border: 0.5px solid #e71c23;
	margin-top: 30px;
}

.delete-from-cart:hover {
	background-color: #ff3e4d;
	color: white;
}

.delete-from-cart:focus {
	outline: none;
}

.stripeBtn {
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(9, 207, 255, 1) 0%, rgba(50, 121, 255, 1) 35%, rgba(85, 51, 255, 1) 100%);
	color: honeydew;
	font-weight: bold;
	font-size: larger;
}

.stripeHolder {
	background: #f9f9f9;
	width: max-content;
	border-radius: 5px;
	padding: 20px;
	margin-top: 10px;
}

.mobTop {
	justify-content: space-between;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}
