.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  /* background: #343a40; */
  background: #f8f9fa;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0px;
  left: 0px;
}

.loading {
  /* text-align: center; */
  /* font: 300 4em/150% Impact; */
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}
